.fieldGroup{
    margin-bottom: 20px;
}
.field{
    width: 100%;
    padding: 4px 10px;
}

.btnWrapper{
    align-items: center;
    justify-content: space-between;
}

.btnWrapper p{
    margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
    .btnWrapper{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .btnWrapper p{
        margin-bottom: 20px;
    }
    
}

.btnsubmit{
    font-size: 16px;
    border: 1px solid rgb(101, 119, 134);
    padding: 4px 20px;
    border-radius: 2px;
    color: #212529;
    font-weight: 500;
}

.replyForm{
    display: none;
}

